@import 'ext/solarized-light';

.highlight {
	background-color: #f4f4f4;
}

div.highlight {
	padding: 5px 20px;
	max-width: 800px;
}
code {
	font-family: 'Source Code Pro', Menlo, monospace;
	background-color: #f4f4f4;
}
.highlight code {
	background: none;
	display: inline-block;
	overflow: scroll;
}
pre.highlight {
	font-family: 'Source Code Pro', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
}