@import "ext/normalize";
@import "syntax";

$linkColor: #0a59b0;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 256px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Crete Round", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #000;
  transition: color 0.3s;
  &:hover {
    color: $linkColor;
  }
}

h2 {
  margin: 0.7em 0;
}
main {
  margin: 0 90px 0 0;
  @media screen and (max-width: $mobileW) {
    margin: 0;
    padding: 4px;
    overflow-x: hidden;
  }
  display: flex;
  height: 100%;
  flex-direction: column;

  .site {
    display: flex;
    flex-direction: row;
  @media screen and (max-width: 1280px) {
    margin: 0 35px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 35px;
  }

  @media screen and (max-width: $mobileW) {
    margin: 0 10px;
    flex-direction: column;
  }
  @media screen and (max-width: $smallMobileW) {
    margin: 0;
  }

  .content {
    @media screen and (min-width: $mobileW + 1) {
      width: 100%;
      margin-left: -200px;
    }
  }
  
}
.top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #222222;
    font-weight: normal;
  }
  .smallnav {
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    li {
      float: left;
      padding: 0px 8px;
    }
  }

}

.about {
  display: flex;
  height: 100vh;
  @media screen and (max-width: $mobileW) {
    height: auto;
  }

  background-image: radial-gradient( #aaa 1px,transparent 0),radial-gradient(#aaa 1px, transparent 0);
  background-size: 50px 50px;
  background-position: 0 0,25px 25px;

  min-width: $leftWidth;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  .tagline {
    font-family: 'Monoton', sans-serif;
    color: #444;
    white-space: pre-wrap;
    line-height: 1em;
   
    @media screen and (min-width: $mobileW+1) {
      transform: rotate(-90deg);
    }

    font-size: 10vh;
  }
  img {
    max-width: 150px;
    border-radius: 50%;

  }
 
}
}
.footer {
  min-height: 20px;
}
#title {
  a {
    text-decoration: none;
  }
  background-color: white;
}
.social {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  li {
    float: left;
    i {
      padding: 0px 8px;
    }
  }
}

i {
 .fa {
   padding: 2px
 }
}

.post-wrapper {
  border-bottom: 1px solid #ececec;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.post-categories {
  list-style-type: none;
  padding: 0;
  margin: -8px 0 0;

  li {
    font-size: 14px;
    float: left;
    background-color: #e3e3e3;
    padding: 5px 20px;
    border-radius: 2px;
    @media screen and (max-width: $mobileW) {
      margin-top: 5px;
    }
    margin-right: 10px;
    margin-bottom: 10px;

  }
}
.post-date {
  margin-right: 20px;
  color: #555;
  min-width: 150px;
}
.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: baseline;
    .post-date {
      margin-bottom: 16px;
    }
  }
}
.post-link {
  text-decoration: none;
}

.post-title {
  line-height: 1.2em;
  font-size: 28px;
}
.posts,
.post-container {
  background-color: white;
  list-style-type: none;
  @media screen and (max-width: $smallMobileW) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (max-width: $mobileW) {
    padding: 0 !important;
    margin-top: 0;
  }
}
.post-container {
  margin: 50px;
  @media screen and (max-width: $mobileW) {
    margin: 20px;
  }
}
.post {
  font-family: "Crete Round", serif;
  color: #222;
  line-height: 1.2em;
  a {
    color: $linkColor;
    text-decoration: none;
    transition: border-bottom 0.4s;
    &:hover {
      border-bottom: 0.5px solid $linkColor;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Crete Round', serif;
  }
}

#posts-label {
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  font-weight: normal;
}
